#content {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 300px;
  bottom: 0;
  top: 0;
  padding: 0.5em;
}
#map {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  left: 300px;
  border-left: 1px solid black;
  top: 0;
}
